@import './Settings.scss';

.kasa-about {
    @include container;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-collapse {
        margin: auto;
        width: 80%;
        @media (max-width: $screen_mobile) {
            width: 100%;
        }
    }

}