@import './Settings.scss';

.kasa-about{
    @include container;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-panel{
        width: 80%;
        position: relative;
        margin: 10px auto;
        @media (max-width:400px) {
            width: 100%;
        }
        &-header{
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            color: white;
            background-color: $primary_color;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;
            font-weight: 500;
            font-size: 18px;
            z-index: 2;
            svg{
                color: white;
            }
        }
        &-content{
            background-color: #F6F6F6;
            color: $primary_color;
            border-radius: 0 0 5px 5px;
            margin-top: 35px;
            z-index: 1;
        }
    }
}