@import './Settings.scss';
.kasa-banner{
    
    &-container{
        @include container;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0;
    }
    &-logo img{
        max-height: 54px;
        @media (max-width: 400px) {
            max-height: 37px;
        }
    }


    &-nav{
        align-self: center;
        a{
            color: $nav_header;
            text-decoration: none;
            @include primary-font;
            font-weight: 500;
            font-size: 24px;
            cursor: pointer;
            padding-left: 57px;
            @media (max-width: 400px) {
                font-size: 12px;
                padding-left: 26px;
            }
        }
        
    }
}
