@import './Settings.scss';

.kasa-collapse {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    min-height: 30px;

    &-header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        color: white;
        background-color: $primary_color;
        padding: 10px;
        @include small-radius;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        z-index: 2;

    }

    &-content {
        background-color: #F6F6F6;
        border-radius: 0 0 5px 5px;
        z-index: 1;
        overflow: hidden;

        &-inner{
            padding: 50px 20px 20px 20px;
            max-height: 400px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition:  0.5s ease;
            &-hide{
                padding: 0px;
                max-height: 0px;
            }
        }
    }

    &-svg{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition:  0.5s ease;
        fill: white;
        &-180{
            transform: rotate(180deg);
        }
        svg{
            height: 14px;
            @media (max-width: $screen_mobile) {
                height: 9px;
            }
        }
    }

    &__mleft {
        margin-left: 20px;
    }
}