@import './Settings.scss';

.kasa-footer {
    background-color: $footer_bg_color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 20px 0;
    margin-top: 50px;

    &-corporate {
        text-align: center;
        padding-top: 20px;
        font-weight: 500;
        font-size: 24px;
        @media (max-width: $screen_mobile) {
            width: 30%;
            font-weight: 500;
            font-size: 12px;
          }
    }

}