@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$primary_color: #FF6060;
$nav_header: $primary_color;
$footer_bg_color : #000000;
$screen_mobile : 600px;



@mixin primary-font {
    font-family: 'Montserrat';
    font-style: normal;
}

@mixin container {
    max-width: 1240px;
    margin: auto;
    padding: 15px;

    @media (max-width: $screen_mobile) {
        padding: 10px;
    }
}


@mixin big-radius {
    border-radius: 25px;
}

@mixin small-radius {
    border-radius: 10px;
}